<div class="container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>File Upload</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form (ngSubmit)="uploadFile()" #fileUploadForm="ngForm">
          <mat-form-field>
            <input matInput type="file" (change)="onFileSelected($event)" name="file" required>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit" [disabled]="!selectedFile">Upload</button>
        </form>
        <mat-progress-spinner *ngIf="uploading" mode="indeterminate"></mat-progress-spinner>
      </mat-card-content>
    </mat-card>
  </div>
  